html {
    box-sizing: border-box;
  }
  *,
*:before,
*:after {
  box-sizing: inherit;
}
.main {
  margin: auto;
  margin-top: 70px;
  box-sizing: border-box;
  min-width: auto;
  max-width: 1024px;
}

.body {
    background: rgb(122,235,242);
    background: linear-gradient(180deg,
     rgba(122,235,242,1) 9%,
      rgba(106,196,252,1) 28%,
      rgba(0,212,255,1) 64%,
     rgba(59,94,227,1) 96%);
     text-align: center;
}
.navigation {

    padding: 10px;
    position: fixed;
    right: 5%;
    top: 5%;
    border: 2px solid darkblue;
    border-radius: 50%;
    overflow: auto;
    z-index: 5;
}
.navigation__link {
    padding: 10px;
}
nav a {
    color: rgb(125, 50, 160);
  }

.top-header {
    color: rgb(57, 48, 136);
    max-width: 80%;
    margin: auto;
    

}


.h1 {
text-align: center;
}

.h3 {
text-decoration: underline;
}




.article {
  padding: 8px;
}

.article__title {
  text-decoration: underline;
  color: black;
}

.article__paragraph {

}
.article__paragraph--tools {
  
}

ul {
    text-align: left;
}

.picture__img {
  max-width: 300px;
  max-height: 300px;
}
@media (min-width:768px) {
  .picture__img {
    
    position: sticky;
    right: 5%;
    top: 1%;
    bottom: 1%;;
    
    

  
  }
  
}

@media (min-width:768px) {
  .flex1 {
    width: 40%;
  }
  
}

.about {
  display: flex;
  overflow: auto;
  margin: 2%;
  border: 1px solid;
  background: rgb(104,219,152);
  background: radial-gradient(circle,
   rgba(104,219,152,1) 16%,
    rgba(87,164,235,1) 90%);
  }
  
@media (max-width:768px) {
  .about {
    display: block;
    
    overflow: auto;
    margin: 2%;
    border: 1px solid;
    background: rgb(104,219,152);
    background: radial-gradient(circle,
     rgba(104,219,152,1) 16%,
      rgba(87,164,235,1) 90%);
}
}
@media (min-width:768px) {
  .about {
    display: flex;
    justify-content: center;
    
    overflow: auto;
}
}
.div {
  display: inline-block;
}

.skills {
  
    margin: 2%;
border: 1px solid;
background: rgb(104,219,152);
background: radial-gradient(circle,
 rgba(104,219,152,1) 16%,
 rgba(87,164,235,1) 90%);
}

.experience {
  display: block;
    margin: 2%;
    border: 1px solid;
    background: rgb(104,219,152);
background: radial-gradient(circle,
 rgba(104,219,152,1) 16%,
  rgba(87,164,235,1) 90%);
}


.grid {
  text-align: center;
}
   .grid__title {
   color: darkred;
   
   
   text-decoration: underline;
   }
   .grid__article {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }
   .grid__paragraph1 {
     text-align: center;
     background-color: lightgray;
     color: darkslategray;
   }
   .grid__paragraph2 {
     text-align: center;
     background-color: lightgreen;
     color: darkgreen;
   }
   .grid__paragraph3 {
     text-align: center;
     background-color: lightsalmon;
     color: rgb(54, 37, 16);
   }
   .grid__paragraph4 {
     text-align: center;
     background-color: rgb(241, 195, 202);
     color: red;
   }
   .grid__paragraph5 {
     text-align: center;
     background-color: lightskyblue;
     color: purple;
   }
   .grid__paragraph6 {
     text-align: center;
     background-color: lightyellow;
     color: darkblue;
   }
.motivation {
  margin: 2%;
    border: 1px solid;
    background: rgb(155,241,246);
    background: radial-gradient(circle, rgba(155,241,246,1) 10%,
     rgba(244,252,106,0.7091211484593838) 40%,
      rgba(239,246,149,0.7819502801120448) 60%,
     rgba(156,173,236,0.6166841736694677) 90%);
}


.contact {
    margin: 2%;
    border: 1px solid;
    background: rgb(122,235,242);
background: radial-gradient(circle, rgba(122,235,242,1) 4%,
 rgba(106,252,138,0.7091211484593838) 30%,
 rgba(0,212,255,1) 70%, rgba(59,94,227,1) 96%);
}

.contact__title {
  text-decoration: underline;
  text-align: center;
}
.flex {
  display: flexbox;
  align-items: flex-start;

}

